black
ruff
mypy
tox
structlog
pytest
pytest-snapshot
pytest-structlog
line_profiler
memory_profiler
mkdocs
numpy
matplotlib
openpyxl
python-dotenv
psycopg[binary]
sqlalchemy
pandas[performance, excel, plot]
polars-lts-cpu
ibis-framework[pandas, polars]
japanize-matplotlib
seaborn
requests
jupyterlab
ipywidgets
ipympl
ipytest
pygwalker
pydantic
sqlmodel
sqlacodegen
pandera[polars]
rdkit
