name: Django CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:17
        ports: ['5432:5432']
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.10, 3.11, 3.12, 3.13]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Set up Miniconda
      uses: conda-incubator/setup-miniconda@v2
      with:
        auto-activate-base: false
        python-version: ${{ matrix.python-version }}
        environment-file: app/environment.dev.yaml
        activate-environment: dbms-django-dev
    - name: Wait for Postgres
      run: |
        until pg_isready -h localhost -p 5432 -U postgres; do
          echo 'waiting for postgres...'
          sleep 1
        done
    - name: Set up Miniforge (Mambaforge)
      uses: conda-incubator/setup-miniconda@v2
      with:
        auto-activate-base: false
        python-version: ${{ matrix.python-version }}
        environment-file: app/environment.dev.yaml
        activate-environment: dbms-django-dev
        miniconda-variant: Mambaforge
    - name: Run Tests
      run: |
        mamba run --name dbms-django-dev pytest
